.row {
	display: flex;
}

.header {
	font-weight: bold;
}

.column {
	width: 22%;
	padding: 0 2%;
}

.column2 {
	width: 80%;
	padding: 0 5%;
}

/* .column {
	border: 1px solid grey;
} */


.input {
	display: flex;
	padding: 10px 1%;
}

.input label {
	width: 10%;
}

.input label {
	width: 10%;
}

fieldset {
	margin-bottom: 10px;
}
