body {
    display: flex;
    flex-wrap: wrap;
}

.schild {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: skyblue;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 185px;
}

.name {
    background-color: lightgrey;
    width:80%;
    height: 50px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: sans-serif; 
    text-align: center;
    padding-top: 5px;
}

p:last-child {
    font-size: smaller;
    font-style: italic;
}