* {
	padding: 4px;
}

body {
	border: 2px solid red;
}

h1, div {
	border: 2px solid blue;
}

p {
	border: 2px solid green;
	padding: 16px 4px;
}

em, strong {
	border: 2px solid orange;
}